body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    color: #3b3f43;
}

.nav li {
    padding: 15px 35px;
    font-size: large;
    font-weight: 500;
}

.nav-icon {
    margin: 0;
    padding: 0px 5px;
    display: inline-block;
}

.tweet-button {
    padding: 15px 40px;
    width: 60%;
    background-color: rgb(29, 155, 240);
    font-size: 15px;
    color: white;
    border-radius: 45px;
    border-style: none;
    margin-top: 10px;
}

.nav li:hover {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 45px;
    width: 110px;
}

.container {
    padding: 0px 20px;
}

.navigation {
    width: 22%;
    height: 100%;
    display: inline-block;
    position: fixed;
    border-right: 1px solid #eff3f4;
}

.fa-twitter {
    color: rgb(29, 155, 240);
}

.posts {
    width: 50%;
    display: inline-block;
    margin-left: 300px;
}

.trendings {
    position: fixed;
    width: 20%;
    display: inline-block;
    margin-right: 0px;
    padding: 5px 10px;
    border-left: 1px solid #eff3f4;
    height: 100%;
}

.header-post {
    border-bottom: 1px solid #eff3f4;
}

.search-trends {
    margin-top: 10px;
    padding: 10px 10px;
    width: 90%;
    border-style: none;
    border-radius: 45px;
    background-color: #f7f9f9;
}

.trendings-section {
    background-color: #f7f9f9;
    padding: 10px 0px;
    width: 95%;
    border-radius: 15px;
    margin-top: 30px;
}

.trending-card h3,
h5 {
    margin: 2px 0px;
}

.trending-card p,
h5 {
    margin: 0px 0px;
    font-size: 0.8rem;
    color: #6e7c87;
    font-weight: 300;
}

.trending-card {
    margin-bottom: 15px;
    padding: 0px 10px;
    width: 100%;
}

.trending-card:hover {
    background-color: rgba(0, 0, 0, 0.04);
    width: 92%;
}

.post-card {
    border-bottom: 1px solid #eff3f4;
}

.profile-image {
    display: inline-block;
    vertical-align: top;
    width: 12%;
    height: 100%;
    margin-left: 10px;
}

.profile-img {
    width: 70px;
    margin-top: 10px;
    height: 100%;
    border-radius: 50%;
}

.post-content {
    width: 80%;
    height: 100%;
    display: inline-block;
}

.name {
    margin: 5px 0px;
}

.username {
    color: #536471;
}

.content {
    margin: 0px;
}

.action-button {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.comment {
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.retweet {
    display: inline-block;
    font-size: 13px;
}

.like {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.comment:hover {
    color: #87cefa;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}

.retweet:hover {
    color: #66ff4d;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}

.like:hover {
    color: #ffaaaa;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}
